<p id="notice"><%= notice %></p>

<h1>Newsletter Requests</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @newsletter_requests.each do |newsletter_request| %>
      <tr>
        <td><%= newsletter_request.email %></td>
        <td><%= newsletter_request.status %></td>
        <td><%= link_to 'Show', newsletter_request %></td>
        <td><%= link_to 'Edit', edit_newsletter_request_path(newsletter_request) %></td>
        <td><%= link_to 'Destroy', newsletter_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Newsletter Request', new_newsletter_request_path %>
