<style>
  .blocktext {
      margin-left: auto;
      margin-right: auto;
  
      margin: 0;
    position: relative;
    left: 50%;
    margin-right: -50%;
  }

  section.wrapper {
    margin-top: -32px;
  }

  .addBtn{
    color: white;
    /* float: right; */
    margin: ;
    margin-left: 85%;
  }
</style>
<main>
  <section id="main-content">
    <section class="wrapper">
      <div class="row">
        <div class="col-12">
          <h1 class="blocktext">Car Documents </h1>
          <div class="separator mb-5"></div>
        </div>
      </div>
      <div class="row mb-4">
        <%= link_to 'Add Car Document', new_car_document_path , class:'btn btn-primary addBtn', style:'color:white' %>
        <div class="col-12 mb-4">
          <div class="card">
            <div class="card-body">
              <div class="table-responsive bs-example widget-shadow">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Document type</th>
                      <th>Document valid status</th>
                      <th>Document Comments</th>
                      <th colspan="3"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @car_documents.each do |car_document| %>
                      <tr>
                        <td><%= car_document.doc_type %></td>
                        <td><%= car_document.doc_valid %></td>
                        <td><%= car_document.comments %></td>
                        <td><span id="badgeSpan" class="badge badge-primary"><%= link_to 'Show', car_document, id: "badgeSpan" %></span></td>
                        <td><span id="badgeSpan" class="badge badge-warning"><%= link_to 'Edit', edit_car_document_path(car_document) %></span></td>
                        <td><span id="badgeSpan" class="badge badge-danger"><%= link_to 'Delete', car_document, method: :delete, data: { confirm: 'Are you sure?' } %></span></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
                <br>
              </div>
            </div>
          </div>
      </div>
    </section>
  </section>
</main>
