<head>
  <link href="/assets/colors.css" rel="stylesheet">
</head>


<div class="main-panel">
  <!-- BEGIN : Main Content-->
  <div class="main-content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
      <div class="row cards_tag">
        <div class="col-lg-6 col-md-6 col-12">
          <div class="card gradient-purple-love card_boxes">
            <div class="card-content">
              <div class="card-body py-0">
                <div class="media pb-1">
                  <div class="media-body white text-left">
                    <h3 class="font-large-1 white mb-0"><%= @car_stats %></h3>
                    <span>Total Cars</span>
                  </div>
                  <div class="media-right white text-right">
                    <%= feather_icon "activity" %>
                  </div>
                </div>
              </div>
              <div id="Widget-line-chart" class="height-75 WidgetlineChart WidgetlineChartshadow mb-2">
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12">
          <div class="card gradient-ibiza-sunset card_boxes">
            <div class="card-content">
              <div class="card-body py-0">
                <div class="media pb-1">
                  <div class="media-body white text-left">
                    <h3 class="font-large-1 white mb-0"><%= @totalVendors %></h3>
                    <span>Total Vendors</span>
                  </div>
                  <div class="media-right white text-right">
                    <%= feather_icon "percent" %>
                  </div>
                </div>
              </div>
              <div id="Widget-line-chart1" class="height-75 WidgetlineChart WidgetlineChartshadow mb-2">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row cards_tag extra_tag">
        <div class="col-lg-6 col-md-6 col-12 card_btm_boxes">
          <div class="card gradient-mint card_boxes">
            <div class="card-content">
              <div class="card-body py-0">
                <div class="media pb-1">
                  <div class="media-body white text-left">
                    <h3 class="font-large-1 white mb-0"><%= @car_sales %></h3>
                    <span>Total Sales</span>
                  </div>
                  <div class="media-right white text-right">
                    <%= feather_icon "trending-up" %>
                  </div>
                </div>
              </div>
              <div id="Widget-line-chart2" class="height-75 WidgetlineChart WidgetlineChartshadow mb-2">
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12 card_btm_box2">
          <div class="card gradient-king-yna card_boxes">
            <div class="card-content">
              <div class="card-body py-0">
                <div class="media pb-1">
                  <div class="media-body white text-left">
                    <h3 class="font-large-1 white mb-0"><%= @totalBuyers %></h3>
                    <span>Total Buyers</span>
                  </div>
                  <div class="media-right white text-right">
                    <%= feather_icon "credit-card" %>
                  </div>
                </div>
              </div>
              <div id="Widget-line-chart3" class="height-75 WidgetlineChart WidgetlineChartshadow mb-2">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- END : End Main Content-->


</div>
<script type="text/javascript">
  function showAlert(){
  
    //  <%#@low_stock.each do |stock|%>
  
      //  console.log('<%#= stock.item_name%> ')
        // alert("Quantity is 0. Restock " +  '<%#=stock.item_name %>' )
  
    // <%# end %>
  
  
      }
  
        setInterval('showAlert()',7200000); //Every 2 hrs
</script>
