<head>
  <link href="/assets/colors.css" rel="stylesheet">
</head>
<style>

  /* .container-fluid {
    margin-top: -30px;
  } */

  /* .main-content {
    margin-top: -30px;
  } */

  /* .card_btm_boxes {
    margin-top: -60px;
  }

  .card_boxes{
    height: 50%;
  } */

  .logo-span {
    margin-left: 0;
  }

  .row.cards_tag {
    margin-left: 75px;
    margin-top: 80px;
  }

  .extra_tag{
    margin-top: 50px !important;
  }


  .frontierLogo {

    width: 10%;
    margin-left: 0;
    margin-top: -3px;
    height: 14px;
  }


  .fronText {
    margin-top: -24px;
    margin-left: 0;
    font-weight: 700;
    font-size: 20px;
    vertical-align: middle;
    font-family: ATFabriga, "Segoe UI", Helvetica, Arial, -apple-system, BlinkMacSystemFont, sans-serif;
    color: black;
  }

  span.logo-span {
    margin-top: -17px;
  }


  .frontext-inline {
    font-size: 14px;
  }

  span.frontext-inline {
    margin-left: 30px;
  }


  @media(max-width:799px){
            
    .logo-span{
        margin-left: -10px;
    }


    .frontierLogo{
        width: 30%;
        margin-left: -40px;
        margin-top: 0px;
    }


    .fronText{
        margin-top: -26px;
        margin-left: -10px;
        font-weight: 700;
    }


    .frontext-inline {
        font-size: 22px;
    }

  }




  @media(max-width:430px){
            
    .logo-span{
        margin-left: 7px;
    }

    .fronText{
        margin-left: 5px;
    }

    .frontierLogo {
        width: 27%;
        margin-left: -40px;
        margin-top: -2px;
    }

    .home-page__display-fallback img {
        max-width: 400px !important;
        left: 60% !important;
    }


  }



   @media(max-width:375px){
            

    .fronText{
        margin-left: 20px;
        font-weight: 700;
        margin-top: -26px;
    }

    .frontierLogo {
        width: 20%;
        margin-left: -15px;
        margin-top: -10px;
    }

    .frontext-inline {
        font-size: 18px;
    }

  }


</style>

<div class="main-panel">
  <!-- BEGIN : Main Content-->
  <div class="main-content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
      <div class="row cards_tag">
        <div class="col-lg-6 col-md-6 col-12">
          <div class="card gradient-purple-love card_boxes">
            <div class="card-content">
              <div class="card-body py-0">
                <div class="media pb-1">
                  <div class="media-body white text-left">
                    <h3 class="font-large-1 white mb-0"><%= @car_stats %></h3>
                    <span>Total Cars</span>
                  </div>
                  <div class="media-right white text-right">
                    <%= feather_icon "activity" %>
                  </div>
                </div>
              </div>
              <div id="Widget-line-chart" class="height-75 WidgetlineChart WidgetlineChartshadow mb-2">
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12">
          <div class="card gradient-ibiza-sunset card_boxes">
            <div class="card-content">
              <div class="card-body py-0">
                <div class="media pb-1">
                  <div class="media-body white text-left">
                    <h3 class="font-large-1 white mb-0"><%= @totalVendors %></h3>
                    <span>Total Vendors</span>
                  </div>
                  <div class="media-right white text-right">
                    <%= feather_icon "percent" %>
                  </div>
                </div>
              </div>
              <div id="Widget-line-chart1" class="height-75 WidgetlineChart WidgetlineChartshadow mb-2">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row cards_tag extra_tag">
        <div class="col-lg-6 col-md-6 col-12 card_btm_boxes">
          <div class="card gradient-mint card_boxes">
            <div class="card-content">
              <div class="card-body py-0">
                <div class="media pb-1">
                  <div class="media-body white text-left">
                    <h3 class="font-large-1 white mb-0"><%= @car_sales %></h3>
                    <span>Total Sales</span>
                  </div>
                  <div class="media-right white text-right">
                    <%= feather_icon "trending-up" %>
                  </div>
                </div>
              </div>
              <div id="Widget-line-chart2" class="height-75 WidgetlineChart WidgetlineChartshadow mb-2">
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12 card_btm_box2">
          <div class="card gradient-king-yna card_boxes">
            <div class="card-content">
              <div class="card-body py-0">
                <div class="media pb-1">
                  <div class="media-body white text-left">
                    <h3 class="font-large-1 white mb-0"><%= @totalBuyers %></h3>
                    <span>Total Buyers</span>
                  </div>
                  <div class="media-right white text-right">
                    <%= feather_icon "credit-card" %>
                  </div>
                </div>
              </div>
              <div id="Widget-line-chart3" class="height-75 WidgetlineChart WidgetlineChartshadow mb-2">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- END : End Main Content-->


</div>
<script type="text/javascript">
  function showAlert(){
  
    //  <%#@low_stock.each do |stock|%>
  
      //  console.log('<%#= stock.item_name%> ')
        // alert("Quantity is 0. Restock " +  '<%#=stock.item_name %>' )
  
    // <%# end %>
  
  
      }
  
        setInterval('showAlert()',7200000); //Every 2 hrs
</script>
