<p id="notice"><%= notice %></p>

<p>
  <strong>Car:</strong>
  <%= @car_specification.car_id %>
</p>

<p>
  <strong>Mileage:</strong>
  <%= @car_specification.mileage %>
</p>

<p>
  <strong>Fuel:</strong>
  <%= @car_specification.fuel %>
</p>

<p>
  <strong>Seats:</strong>
  <%= @car_specification.seats %>
</p>

<p>
  <strong>Doors:</strong>
  <%= @car_specification.doors %>
</p>

<p>
  <strong>Status:</strong>
  <%= @car_specification.status %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @car_specification.comments %>
</p>

<p>
  <strong>Description:</strong>
  <%= @car_specification.description %>
</p>

<p>
  <strong>Gear type:</strong>
  <%= @car_specification.gear_type %>
</p>

<p>
  <strong>Body type:</strong>
  <%= @car_specification.body_type %>
</p>

<%= link_to 'Edit', edit_car_specification_path(@car_specification) %> |
<%= link_to 'Back', car_specifications_path %>
