<%= form_with(model: fuel_type) do |form| %>
  <% if fuel_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fuel_type.errors.count, "error") %> prohibited this fuel_type from being saved:</h2>

      <ul>
        <% fuel_type.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :fuel_type %>
    <%= form.text_field :fuel_type %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.check_box :status %>
  </div>

  <div class="field">
    <%= form.label :comments %>
    <%= form.text_area :comments %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
