<p id="notice"><%= notice %></p>

<p>
  <strong>Vehicle:</strong>
  <%= @vehicle_type.vehicle %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @vehicle_type.comments %>
</p>

<p>
  <strong>Status:</strong>
  <%= @vehicle_type.status %>
</p>

<%= link_to 'Edit', edit_vehicle_type_path(@vehicle_type) %> |
<%= link_to 'Back', vehicle_types_path %>
