<style>
  .blocktext {
      margin-left: auto;
      margin-right: auto;
  
      margin: 0;
    position: relative;
    left: 50%;
    margin-right: -50%;
  }
</style>
<main>
  <section id="main-content">
    <section class="wrapper">
      <div class="row">
        <div class="col-12">
          <h1 class="blocktext">Cars</h1>
          <div class="separator mb-5"></div>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-12 mb-4">
          <div class="card" style="width:142%; margin-left: -40%">
            <div class="card-body">
              <div class="table-responsive bs-example widget-shadow">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Car name</th>
                      <th>Make</th>
                      <th>Model</th>
                      <th>Car type</th>
                      <th>Car Highlight</th>
                      <th>Year of Model</th>
                      <th>Body type</th>
                      <th>Colour</th>
                      <th>Car Engine</th>
                      <th>Transmission type</th>
                      <th>Fuel type</th>
                      <th>Mileage</th>
                      <th>Car price (GH)</th>
                      <th>Car registration first date</th>
                      <th colspan="3"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @cars.each do |car_show| %>
                      <tr>
                         <td><%= car_show.car_name %></td>
                        <td><%= car_show.car_make %></td>
                        <td><%= car_show.car_model %></td>
                        <td><%= car_show.car_type %></td>
                        <td><%= car_show.car_highlights %></td>
                        <td><%= car_show.car_model_year %></td>
                        <td><%= car_show.car_body %></td>
                        <td><%= car_show.car_colour %></td>
                        <td><%= car_show.car_engine %></td>
                        <td><%= car_show.transmission_type %></td>
                        <td><%= car_show.car_fuel %></td>
                        <td><%= car_show.car_mileage %></td>
                        <td><%= car_show.car_price %></td>
                        <td><%= car_show.registration_date %></td>
                        <td><span id="badgeSpan" class="badge badge-primary"><%= link_to 'Show', car_show, id: "badgeSpan" %></span></td>
                        <td><span id="badgeSpan" class="badge badge-warning"><%= link_to 'Edit', edit_car_path(car_show) %></span></td>
                        <td><span id="badgeSpan" class="badge badge-danger"><%= link_to 'Delete', car_show, method: :delete, data: { confirm: 'Are you sure?' } %></span></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
                <br>
              </div>
            </div>
          </div>
          <div class="blocktext" style="margin-top:5%; color:white">
            <%= link_to 'Add Car', new_car_path, class:'btn btn-primary', style:'color:white' %>
          </div>
        </div>
      </div>
    </section>
  </section>
</main>