<main>
  <%= simple_form_for(@car_model) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>


    <div class="form-inputs">
      <div class="form-group">
        <%= f.input :name, :label => "Model Name" %>
      </div>
      <div class="form-group">
        <%= f.hidden_field :model_date,  :label => "Model Year" %>
      </div>
      <div class="form-group">
        <%= f.input :make_id, collection: CarMake.all, value_method: :id, label_method: :name, required: true %>
      </div>
      <div class="form-group">
        <%= f.hidden_field :comments %>
      </div>
      <div class="form-group">
        <%= f.hidden_field :status %>
      </div>
    </div>
    

    <div class="form-actions" style="text-align:center;margin-top: 20px;">
      <button type="button"  class ="btn btn-success" style="color:white;">
        <i class="btn-icon-prepend" data-feather="check-square"></i>
        <%= f.button :submit, "Add Make", style: 'color:white' %>
      </button>
    </div>
  </div>
  <% end %>
</main>

